mixin sectionTitle(title='Section', pagination=false)
    h3.section-title 
        span.section-title__text= title
        if pagination 
            .pagination
                a(href="#") 
                    i(class=icons.arrowLeft)
                a(href="#") 
                    i(class=icons.arrowRight)

mixin button(title='Click', style = null, outline=false, btnType='', url='#')
    if btnType 
        button(type=btnType class=`green-button ${style && 'green-button--' + style} ${outline && 'green-button--outline'}`)= title
    else
        a(href=url class=`green-button ${style && 'green-button--' + style} ${outline && 'green-button--outline'}`)= title

mixin productStarList(number)
    - var n = 1;
    ul.product-star-list
        while n <= 5
            li.product-star-item 
                if number 
                    i(class="fas fa-star")
                    - --number
                else 
                    li.product-star-item 
                        i(class="far fa-star")
            - ++n

mixin productContent(item)
    h4.product-name
        a(href="#")= item.name 
    +productStarList(item.star)
    .product-price 
        span.product-price--new= item.price + ' đ'
        if item.oldPrice
            span.product-price--old= item.oldPrice + ' đ'
                        
mixin productItem(item)
    li.product-item 
        .product-item__top
            img(src=`./assets/images/${item.image}`, alt=item.name).product-image
            .product-thumbnail
                +button('MUA NGAY', 'small')
                a(href="#")
                    i(class="fas fa-search") 
            if item.note 
                div(class=`product-note ${item.note !== 'NEW' && 'bg-red'}`) 
                    span= item.note 
        .product-item__bottom
            +productContent(item)

mixin bestSaleProductItem(item)
    li.product-item 
        .product-item__left 
            img(src=`./assets/images/${item.image}.png`, alt=item.name)
        .product-item__right
            +productContent(item)
                
mixin newsItem(item)
    li.news-item 
        .news-item__top 
            img(src=`./assets/images/${item.image}`, alt=item.title)
        .news-item__bottom 
            i.news-date= item.createdDate 
            h5.news-title
                a(href="#")= item.title  
            p.news-description= item.description
            a(href="#").news-read-more Đọc tiếp

mixin breadcrumb(activePage)
    nav.breadcrumb.main-content 
        ul.breadcrumb-list 
            li.breadcrumb-item 
                a(href="/") Home
            li.breadcrumb-item
                span= activePage
    
mixin formItem(item)
    li.form-item 
        label(class=item.required && 'required' for=item.name)= item.title
        input(id=item.name type=item.type required=item.required && 'required' name=item.name) 